h2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: cornflowerblue;
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a{
    color: cornflowerblue;
  font-style: italic;
}

#header2-1{
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-top: -5px;
    left: 29px;
}
body {
    background-image: linear-gradient(to right, pink, papayawhip);
}
p {
    
    margin-right: 10px;
    color: rgb(32, 57, 141);
    font-weight: normal;
    text-transform: none; 
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-decoration: none;
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#p1{
    position: relative;
    top: 14px;
    left: 30px;
    width: 900px;
}
#p2{
    position: relative;
    top: 14px;
    left: 30px;
    width: 900px;
}

#p3{
    position: relative;
    top: 14px;
    left: 30px;
    width: 900px;
}
#p4{
    position: relative;
    top: 14px;
    left: 30px;
    width: 900px;
}
#p5{
    position: relative;
    top: 14px;
    left: 30px;
    width: 900px;
}
#p6{
    position: relative;
    top: 14px;
    left: 30px;
    width: 900px;
    margin-bottom: 50px;
}